Django==5.1.6
gunicorn==23.0.0
whitenoise==6.8.2
dj-database-url==2.3.0
psycopg[binary]==3.2.12
APScheduler==3.10.4
requests==2.32.3
Pillow==11.1.0
moviepy==1.0.3
edge-tts==7.2.8
pytube
python-dotenv==1.0.1
tenacity==9.0.0
feedparser==6.0.11
beautifulsoup4==4.12.3
markdownify==0.14.1
google-api-python-client
google-auth==2.37.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
